{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/admin_layout.html.twig' %}
{% block title %}{{ 'admin_categories.delete.page_title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_catalog_admin_categories_list') }}">{{ 'admin_categories.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('sfs_catalog_admin_categories_read', {'category':category}) }}">{{ 'admin_categories.read.breadcrumb'|trans({'%name%':category.name}) }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_categories.delete.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    {% block content_header %}
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h1 class="h3">{{ 'admin_categories.delete.title'|trans }}</h1>
        </div>
    {% endblock content_header %}

    {% block form %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'admin_categories.delete.actions.delete.button'|trans }}" class="btn btn-danger btn-block" />
        <a href="{{ url('sfs_catalog_admin_categories_list') }}" class="btn btn-secondary btn-block">{{ 'admin_categories.delete.actions.cancel.button'|trans }}</a>
        {{ form_end(form) }}
    {% endblock form %}
{% endblock content %}