{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/admin_layout.html.twig' %}
{% block title %}{{ 'admin_categories.update.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Update category</h1>
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ url('sfs_catalog_admin_categories_list') }}" class="btn btn-outline-secondary">{{ 'admin_categories.update.actions.cancel.button'|trans }}</a>
            <a href="{{ url('sfs_catalog_admin_categories_delete', {'entity':entity}) }}" class="btn btn-danger">{{ 'admin_categories.update.actions.delete.button'|trans }}</a>
            <input type="submit" value="{{ 'admin_categories.update.actions.update.button'|trans }}" class="btn btn-primary" />
        </div>
    {{ form_end(form) }}
{% endblock content %}