{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <img class="card-img" src="https://dummyimage.com/400x300/eeeeee/a1a1a1.jpg" alt="{{ product.translatedName is defined ? product.translatedName|translate : product.name }}" />
        </div>
        <div class="col-8">
            <h1>
                <a href="{{ url('sfs_catalog_product', {'product':model.product}) }}">{{ model.product.translatedName is defined ? model.product.translatedName|translate : model.product.name }}</a>
                / {{ model.translatedName is defined ? model.translatedName|translate : model.name }}
            </h1>

            {{ model.sku }}

            <br/>

            {% if can_model_added_to_cart|default(false) %}
                <a href="{{ url('sfs_shop_cart_add', {'item':model.id}) }}">{{ 'model.add_to_cart'|trans }} <span class="mdi mdi-18px mdi-cart-arrow-down"></span></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}