{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/admin_layout.html.twig' %}
{% block title %}{{ 'admin_packs.read.page_title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_catalog_admin_packs_list') }}">Packs</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ pack.name }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <h1>{{ pack.translatedName|translate }}</h1>
{% endblock content %}