{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/admin_layout.html.twig' %}
{% block title %}{{ 'admin_products.create.page_title'|trans }} {% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_catalog_admin_products_list') }}">{{ 'admin_products.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_products.create.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    {% block content_header %}
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h1 class="h3">{{ 'admin_products.create.title'|trans }}</h1>
        </div>
    {% endblock content_header %}

    {% block form %}
        {{ form_start(form) }}
        {% include '@SfsCatalog/admin/product/_form.html.twig' %}
        <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url('sfs_catalog_admin_products_list') }}" class="btn btn-outline-secondary ml-3">{{ 'admin_products.create.actions.cancel.button'|trans }}</a>
            <input type="submit" value="{{ 'admin_products.create.actions.create.button'|trans }}" class="btn btn-primary ml-3" />
        </div>
        {{ form_end(form) }}
    {% endblock form %}
{% endblock content %}