{% trans_default_domain 'sfs_catalog' %}

{% for product in entities %}
    <tr>
        <td>
            <a href="{{ url('sfs_catalog_admin_products_read', {'entity':product}) }}">{{ product.translatedName|translate }}</a>
            {{ product.translatedName|translate }}
        </td>

        {% if sfs_catalog_product_has_categories() %}
            <td>{{ product.category.translatedName|translate|default('') }}</td>
        {% endif %}

        <td>
            <a href="{{ url('sfs_catalog_admin_products_update', {'entity':product}) }}">update</a>
        </td>
    </tr>
{% endfor %}