{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/admin_layout.html.twig' %}
{% block title %}{{ 'admin_products.update.page_title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'admin_products.update.actions.update.button'|trans }}" class="btn btn-primary btn-block" />
        <a href="{{ url('sfs_catalog_admin_products_list') }}" class="btn btn-secondary btn-block">{{ 'admin_products.update.actions.cancel.button'|trans }}</a>
    {{ form_end(form) }}
{% endblock content %}