{% trans_default_domain 'sfs_catalog' %}

{% for model in entities %}
    <tr>
        <td>{{ model.product.translatedName|translate }}</td>
        <td>
            <a href="{{ url('sfs_catalog_admin_models_read', {'model':model}) }}">{{ model.translatedName|translate }}</a>
        </td>
        <td>{{ model.sku }}</td>
        <td>
            <a href="{{ url('sfs_catalog_admin_models_update', {'model':model}) }}">update</a>
        </td>
    </tr>
{% endfor %}